﻿@model FilmService.Objects.ObjUser
@{
    ViewBag.Title = "Вход в систему";
}

<div class="container">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Вход</h2>
            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                <div class="form-group row">
                    @Html.Label("Login", "Логин", new { @class = "col-sm-4" })
                    @Html.TextBox("Login", "", new { @class = "col-sm-8" })
                </div>
                <div class="form-group row">
                    @Html.Label("Password", "Пароль", new { @class = "col-sm-4" })
                    @Html.Password("Password", "", new { @class = "col-sm-8" })
                </div>
                <div class="row">
                    <input class="btn btn-primary col-sm-5" type="submit" value="Войти" />
                    <a class="btn btn-primary col-sm-5 col-sm-offset-2" href="~/Login/Reg">Регистрация</a>
                </div>
            }
                <div class="row">
                    
                </div>
        </div>
    </div>
</div>