﻿@model FilmService.Objects.ObjUser
@{
    ViewBag.Title = "Зарегистрировать нового пользователя";
}
<p style="color:red">@TempData["Error"]</p>
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-sm-6 col-sm-offset-3">
                <h2>Регистрация пользователя</h2>
                @using (Html.BeginForm("Reg", "Login", FormMethod.Post))
                {
                    <div class="form-group row">
                        @Html.Label("Login", "Логин", new { @class = "col-sm-4" })
                        @Html.TextBox("Login", "", new { @class = "col-sm-8" })
                    </div>
                    <div class="form-group row">
                        @Html.Label("Password", "Пароль", new { @class = "col-sm-4" })
                        @Html.Password("Password", "", new { @class = "col-sm-8" })
                    </div>
                    <div class="form-group row">
                        @Html.Label("checkpass", "Повторите пароль", new { @class = "col-sm-4" })
                        @Html.Password("checkpass", "", new { @class = "col-sm-8" })
                    </div>
                    <div class="form-group row">
                        <input class="btn btn-primary col-sm-5" type="submit" value="Создать" />
                        <a class="btn btn-primary col-sm-5 col-sm-offset-2" href="~/Login/Index">Отмена</a>
                    </div>
                }

                </div>
            </div>
        </div>
