﻿@model FilmService.Objects.ObjFilm
@{
    ViewBag.Title = "Создать фильм";
}
<a href="~/Home">Назад к списку фильмов</a>
<h2>Создание фильма</h2>
@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group row">
        @Html.Label("Title", "Название", new { @class = "col-sm-2" } )
        @Html.TextBox("Title", "", new { @class = "col-sm-10" })
    </div>
    <div class="form-group row">
        @Html.Label("Description", "Описание", new { @class = "col-sm-2" })
        @Html.TextArea("Description", "", 5, 50, null)
    </div>
    <div class="form-group row">
        @Html.Label("Year", "Год выпуска", new { @class = "col-sm-2" })
        @Html.TextBox("Year", "", new { @class = "col-sm-10" })
    </div>
    <div class="form-group row">
        @Html.Label("Producer", "Режиссер", new { @class = "col-sm-2" })
        @Html.TextBox("Producer", "", new { @class = "col-sm-10" })
    </div>
    <div class="form-group row">
        @Html.Label("", "Загрузить постер", new { @class = "col-sm-2" })
        <input class="col-sm-10" type="file" name="upload" />
    </div>
    <div>
        <br /><input class="btn btn-primary" type="submit" value="Создать" />
    </div>
}