﻿@model FilmService.Objects.ObjFilm
@{
    ViewBag.Title = "Сведения о фильме";
}
<p style="color:red">@TempData["Error"]</p>
<div><a href="~/Home">Назад к списку фильмов</a></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12"><h1>@Model.Title</h1></div>
    </div>
    @{ 
        if(Model.ImgPath!="")
        {
            <div class="row"><img src="/Images/@Model.ImgPath" class="img-responsive" /></div>
        }
    }
    <div class="row">
        <div class="col-sm-4">Режиссер:@Model.Producer</div>
        <div class="col-sm-4">Год выпуска:@Model.Year</div>
        <div class="col-sm-4">Пользователь:@Model.User</div>
    </div>
    <div class="row">
        <h2>Описание</h2>
    </div>
    <div class="row">
        <div class="col-sm-12">@Model.Description</div>
    </div>
</div>
<a class="btn btn-primary" href="~/Home/Edit/@Model.Id">Редактировать</a>



