﻿@model FilmService.Objects.ObjFilm
@{
    ViewBag.Title = "Редактировать фильм";
}
<a href="~/Home/Details/@Model.Id">Назад к фильму @Model.Title</a>
<h2>Редактирование записи</h2>
@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group row">
        @Html.Label("Title", "Название", new { @class = "col-sm-2" })
        @Html.TextBox("Title", Model.Title, new { @class = "col-sm-10" })
    </div>
    <div class="form-group row">
        @Html.Label("Description", "Описание", new { @class = "col-sm-2" })
        @Html.TextArea("Description", Model.Description, 5, 50, null)
    </div>
    <div class="form-group row">
        @Html.Label("Year", "Год выпуска", new { @class = "col-sm-2" })
        @Html.TextBox("Year", Model.Year, new { @class = "col-sm-10" })
    </div>
    <div class="form-group row">
        @Html.Label("Producer", "Режиссер", new { @class = "col-sm-2" })
        @Html.TextBox("Producer", Model.Producer, new { @class = "col-sm-10" })
    </div>
    <div class="form-group row">
        @Html.Hidden("Id", Model.Id)
    </div>
    <div class="form-group row">
        @Html.Hidden("User", Model.User)
    </div>
    <div class="form-group row">
        @Html.Hidden("ImgPath", Model.ImgPath)
    </div>
    <div class="form-group row">
        @Html.Label("", "Загрузить постер", new { @class = "col-sm-2" })
        <input class="col-sm-10" type="file" name="upload" />
    </div>
    <div>
        <br /><input class="btn btn-primary" type="submit" value="Редактировать" />
    </div>
}

