﻿@model PagedList.IPagedList<FilmService.Objects.ObjFilm>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Список фильмов";
}
<p style="color:red">@TempData["Error"]</p>
<div class="row">
    <div class="col-sm-10"><h1>Просмотр списка фильмов</h1></div>
    <div class="col-sm-2"><a class="btn btn-primary" href="~/Home/Create">Создать фильм</a></div>
</div>
<div class="row">
    <table class="table table-striped">
        <tr>
            <td><strong>Название</strong></td>
            <td><strong>Год выпуска</strong></td>
            <td><strong>Режиссер</strong></td>
        </tr>
        @foreach (var film in Model)
        {
            <tr>
                <td>@Html.ActionLink(film.Title, "/Details/" + film.Id)</td>
                <td>@Html.DisplayFor(modelItem => film.Year)</td>
                <td>@Html.DisplayFor(modelItem => film.Producer)</td>
            </tr>
        }
    </table>
</div>
    <br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
